In [3]:
a = 10

In [4]:
print(a)

10

In [5]:
b = 20

In [11]:
c = a + b
print(c)

30

In [13]:
a = 10

In [14]:
a + 10

20

In [15]:
_ + 10

30

## Scalar Types and Values
* bool 
* None
* int 
* float
* few others...

In [16]:
# BOOLEAN TYPE
b1 = True
print(type(b1))

<class 'bool'>

In [23]:
bool(0), bool(1), bool(10), bool(-1)

(False, True, True, True)

In [24]:
a = [1, 2, 3]
b = []
bool(a), bool(b)

(True, False)

In [25]:
bool(True), bool(False), bool('True'), bool('False')

(True, False, True, True)

In [28]:
# NoneType
a: int = None
print(type(a), a)

print(a is None)

<class 'NoneType'> None
True

In [31]:
# INTEGERS - arbitrary sized
from math import factorial as fact

fact(5), fact(100)

(120,
 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000)

In [40]:
# 10d --> 1010b
# hex - 16
# Octal - 8
hex(10), bin(10), oct(10), int(0b1010), int(0o12), int('1000000', 3)

('0xa', '0b1010', '0o12', 10, 10, 729)

In [42]:
# C code for discussion
# char arr[20];
# int i = &arr;  // Runtime or Compiletime error

# float x = 2.5;
# i = x;

# i = 10.5;

In [43]:
# FLOATS

x = 10.5
type(x), x

(float, 10.5)

In [44]:
x = 3e8
type(x), x

(float, 300000000.0)

In [47]:
planks = 1.616e-35
type(planks), planks

(float, 1.616e-35)

In [48]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [58]:
x = float(10)
x = float("1.616")
# x = float("Text")
# x = int("one")
x = int("12323")
x = float("nan")
x = float("inf")
x = float("-inf")
type(x), x

(float, -inf)

In [62]:
x = None
print(x)
# y = int(x)    --> TypeError
# y

None

In [67]:
print(float(2**53))
print(float(2**53 + 1))
print(float(2**53 + 2))
print(float(2**53 + 3))
print(float(2**53 + 4))
print(float(2**53 + 5))

9007199254740992.0
9007199254740992.0
9007199254740994.0
9007199254740996.0
9007199254740996.0
9007199254740996.0

In [68]:
a = 0.7
b = 0.6
c = a - b
c

0.09999999999999998

In [69]:
(0.7 - 0.6) == 0.1

False

In [ ]:
from decimal import Decimal
(Decimal(0.7) - Decimal(0.6)) == Decimal(0.1)

False

In [71]:
from decimal import Decimal
(Decimal('0.7') - Decimal('0.6')) == Decimal('0.1')

True

In [72]:
Decimal(0.7)

Decimal('0.6999999999999999555910790149937383830547332763671875')

In [73]:
import decimal
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[Inexact, FloatOperation, Rounded], traps=[InvalidOperation, DivisionByZero, Overflow])

In [ ]:
PI = Decimal('22') / Decimal('7')
print(PI)

decimal.getcontext().prec = 3
PI = Decimal('22') / Decimal('7')
print(PI)

decimal.getcontext().prec = 28
PI = Decimal('22') / Decimal('7')
print(PI)

3.142857142857142857142857143
3.14

In [78]:
# 3.5 --> 4
# 2.5 --> 3

decimal.getcontext().rounding = decimal.ROUND_CEILING

In [85]:
# FRACTION
from fractions import Fraction
PI = Fraction('22/7')
one_tenth = Fraction('0.1')
somefraction = Fraction('0.0234')

print(PI, one_tenth, somefraction)

Fraction('22/7') == Fraction(22/7)

22/7 1/10 117/5000

False

In [90]:
#COMPLEX
from cmath import sqrt
x = -1
sqrt(x)

data = complex(3, 7)

data, data.conjugate(), (data * data.conjugate())

((3+7j), (3-7j), (58+0j))

In [ ]:
i = 5/2
j = 5//2
i, j

(2.5, 2)

In [ ]:
# Conditional 
from random import randint

val  = randint(1, 5)

if val%2 != 0:
    print(val, " --> Odd")
else:
    print(val, " --> Even")

if val < 3:
    print("Lesser")
elif val > 3:
    print("Greater")
else:
    print("Equal")



match val:
    case 1:
        print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case _:
        print("Other val")

3  --> Odd
Equal
Three

In [124]:
# Loops
# * for
# * while

i = 0
num = 17
while i < 10:
    i += 1
    if i == num:
        print("\nFound", num)
        break
    print(i, end=', ')
else:
    print("\nNot found", num)

print("Done")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
Not found 17
Done

In [ ]:
num = 17

# for (initialisation; condition; step)
for i in range(1, 11, 2):
    print(i, end=', ')
    if i == num:
        print("\nFound", num)
        break
else:
    print("\nNot found", num)

print("done")

1, 3, 5, 7, 9,
Not found 17
done

In [140]:
x = 200; y = 200
print(type(x), x, type(y), y, "\n", id(x), "\n", id(y))

y += 1
print(type(x), x, type(y), y, "\n", id(x), "\n", id(y))

<class 'int'> 200 <class 'int'> 200
 140721702437528
 140721702437528
<class 'int'> 200 <class 'int'> 201
 140721702437528
 140721702437560

In [142]:
s1 = "Test"
s2 = "Test"
print(id(s1), id(s2), sep="\n")

s2 += '!'
print(s1, s2)
print(id(s1), id(s2), sep="\n")

1835942293216
1835942293216
Test Test!
1835942293216
1835942778352

In [ ]:
i = 2000
print(id(i))

i += 1
print(id(i))

1835949428240
1835949431088

In [144]:
i = "Test"
print(id(i))

i += "!"
print(id(i))

1835942293216
1835940832256

In [ ]:
s1 = "Test"
s2 = "Data"
s3 = input("Enter your Name:")