In [ ]:
a = 10

In [ ]:
print(a)

In [ ]:
b = 20

In [ ]:
c = a + b
print(c)

In [ ]:
a = 10

In [ ]:
a + 10

In [ ]:
_ + 10

## Scalar Types and Values
* bool 
* None
* int 
* float
* few others...

In [ ]:
# BOOLEAN TYPE
b1 = True
print(type(b1))

In [ ]:
bool(0), bool(1), bool(10), bool(-1)

In [ ]:
a = [1, 2, 3]
b = []
bool(a), bool(b)

In [ ]:
bool(True), bool(False), bool('True'), bool('False')

In [ ]:
# NoneType
a: int = None
print(type(a), a)

print(a is None)

In [ ]:
# INTEGERS - arbitrary sized
from math import factorial as fact

fact(5), fact(100)

In [ ]:
# 10d --> 1010b
# hex - 16
# Octal - 8
hex(10), bin(10), oct(10), int(0b1010), int(0o12), int('1000000', 3)

In [ ]:
# C code for discussion
# char arr[20];
# int i = &arr;  // Runtime or Compiletime error

# float x = 2.5;
# i = x;

# i = 10.5;

In [ ]:
# FLOATS

x = 10.5
type(x), x

In [ ]:
x = 3e8
type(x), x

In [ ]:
planks = 1.616e-35
type(planks), planks

In [ ]:
import sys
sys.float_info

In [ ]:
x = float(10)
x = float("1.616")
# x = float("Text")
# x = int("one")
x = int("12323")
x = float("nan")
x = float("inf")
x = float("-inf")
type(x), x

In [ ]:
x = None
print(x)
# y = int(x)    --> TypeError
# y

In [ ]:
print(float(2**53))
print(float(2**53 + 1))
print(float(2**53 + 2))
print(float(2**53 + 3))
print(float(2**53 + 4))
print(float(2**53 + 5))

In [ ]:
a = 0.7
b = 0.6
c = a - b
c

In [ ]:
(0.7 - 0.6) == 0.1

In [ ]:
from decimal import Decimal
(Decimal(0.7) - Decimal(0.6)) == Decimal(0.1)

In [ ]:
from decimal import Decimal
(Decimal('0.7') - Decimal('0.6')) == Decimal('0.1')

In [ ]:
Decimal(0.7)

In [ ]:
import decimal
decimal.getcontext()

In [ ]:
PI = Decimal('22') / Decimal('7')
print(PI)

decimal.getcontext().prec = 3
PI = Decimal('22') / Decimal('7')
print(PI)

decimal.getcontext().prec = 28
PI = Decimal('22') / Decimal('7')
print(PI)

In [ ]:
# 3.5 --> 4
# 2.5 --> 3

decimal.getcontext().rounding = decimal.ROUND_CEILING

In [ ]:
# FRACTION
from fractions import Fraction
PI = Fraction('22/7')
one_tenth = Fraction('0.1')
somefraction = Fraction('0.0234')

print(PI, one_tenth, somefraction)

Fraction('22/7') == Fraction(22/7)

In [ ]:
#COMPLEX
from cmath import sqrt
x = -1
sqrt(x)

data = complex(3, 7)

data, data.conjugate(), (data * data.conjugate())

In [ ]:
i = 5/2
j = 5//2
i, j

In [ ]:
# Conditional 
from random import randint

val  = randint(1, 5)

if val%2 != 0:
    print(val, " --> Odd")
else:
    print(val, " --> Even")

if val < 3:
    print("Lesser")
elif val > 3:
    print("Greater")
else:
    print("Equal")



match val:
    case 1:
        print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case _:
        print("Other val")

In [ ]:
# Loops
# * for
# * while

i = 0
num = 17
while i < 10:
    i += 1
    if i == num:
        print("\nFound", num)
        break
    print(i, end=', ')
else:
    print("\nNot found", num)

print("Done")

In [ ]:
num = 17

# for (initialisation; condition; step)
for i in range(1, 11, 2):
    print(i, end=', ')
    if i == num:
        print("\nFound", num)
        break
else:
    print("\nNot found", num)

print("done")

In [ ]:
x = 200; y = 200
print(type(x), x, type(y), y, "\n", id(x), "\n", id(y))

y += 1
print(type(x), x, type(y), y, "\n", id(x), "\n", id(y))

In [ ]:
s1 = "Test"
s2 = "Test"
print(id(s1), id(s2), sep="\n")

s2 += '!'
print(s1, s2)
print(id(s1), id(s2), sep="\n")

In [ ]:
i = 2000
print(id(i))

i += 1
print(id(i))

In [ ]:
i = "Test"
print(id(i))

i += "!"
print(id(i))

In [ ]:
s1 = "Test"
s2 = "Data"
s3 = input("Enter your Name:")

In [ ]:
s1 = "TestData"
print(s1[0])

# s1[0] = 'B'
s1 = "BestData"

## Strings

In [ ]:
# ''  and ""  are the same

s1 = "This is Tom's key."
s2 = 'Tom said, "Thanks"'

print(s1, s2, sep='\n')
# print(s2)

In [ ]:
s3 = " This is a \n multiline\n string"
print(s3)

In [ ]:
s4 = """This is 
a 
multiline
string.
"""

print(s4)

In [ ]:
s5 = """USAGE
CMMD arg arg [arg]
arg1: asgadsfa
arg2: asdfasdfs
"""

print(s5)

In [ ]:
s6 = "tmp_""comp""_""timestamp"
print(s6)

In [ ]:
# Raw String
path = R"c:\User\newfile"
print(path)

In [ ]:
training = "Python"
days = 5
s1 = "We are in a %s training for %d days."

print(s1%(training, days))

In [ ]:
training = "Python"
days = 5
s1 = "We are in a {} training for {} days."

print(s1.format(training, days))
print("We are in a", training, "training for", days, "days.")

In [ ]:
training = "Python"
days = 5
s1 = f"We are in a {training} training for {days} days."

print(s1)

In [ ]:
training = "Python"
days = 5

print("training = ", training)
print(f"{training=}")

a = 10
b = 20

print(f"{(a + b)=}")

### String slicing

In [ ]:
s1 = "We are in a Python training for 5 days."

print(s1[:5])
print(s1[3:6])
print(s1[-1])
print(s1[-11:] + s1[:6])
print(s1[::-1])

In [ ]:
s1 = "0123456789"
print(s1[::-1])
print(s1[::2])
print(s1[1::2])
print(len(s1))
print(s1.__len__())